<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monster Details</title>
</head>
<body>


  <div class="monster-details">
    <p>{{image}}</p>
    <h2>{{name}}</h2>
    <p><strong>Size:</strong> {{size}}</p>
    <p><strong>Type:</strong> {{type}}</p>
    <p><strong>Armor Class:</strong> {{armor_class}}</p>
    <p><strong>Hit Points:</strong> {{hit_points}}</p>
    <p><strong>Hit Dice:</strong> {{hit_dice}}</p>
    <p><strong>Hit Points Roll:</strong> {{hit_points_roll}}</p>
    <p><strong>Speed:</strong> {{speed}}</p>
    <p><strong>Strength:</strong> {{strength}}</p>
    <p><strong>Dexterity:</strong> {{dexterity}}</p>
    <p><strong>Constitution:</strong> {{constitution}}</p>
    <p><strong>Intelligence:</strong> {{intelligence}}</p>
    <p><strong>Wisdom:</strong> {{wisdom}}</p>
    <p><strong>Charisma:</strong> {{charisma}}</p>
    <p><strong>Proficiencies:</strong> {{proficiencies}}</p>
    <p><strong>Damage Vulnerabilities:</strong> {{damage_vulnerabilities}}</p>
    <p><strong>Damage Resistances:</strong> {{damage_resistances}}</p>
    <p><strong>Damage Immunities:</strong> {{damage_immunities}}</p>
    <p><strong>Condition Immunities:</strong> {{condition_immunities}}</p>
    <p><strong>Senses:</strong> {{senses}}</p>
    <p><strong>Languages:</strong> {{languages}}</p>
    <p><strong>Challenge Rating:</strong> {{challenge_rating}}</p>
    <p><strong>Proficiency Bonus:</strong> {{proficiency_bonus}}</p>
    <p><strong>XP:</strong> {{xp}}</p>
    <p><strong>Special Abilities:</strong> {{special_abilities}}</p>
    <p><strong>Actions:</strong> {{actions}}</p>
    <p><strong>Legendary Actions:</strong> {{legendary_actions}}</p>

  </div>


</body>
</html>