<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monster Details</title>
</head>
<body>


  <div class="monster-details">
    <p>{{monster.image}}</p>
    <h2>{{monster.name}}</h2>
    <p><strong>Size:</strong> {{monster.size}}</p>
    <p><strong>Type:</strong> {{monster.type}}</p>
    <p><strong>Armor Class:</strong> {{armor_class}}</p>
    <p><strong>Hit Points:</strong> {{monster.hit_points}}</p>
    <p><strong>Hit Dice:</strong> {{monster.hit_dice}}</p>
    <p><strong>Hit Points Roll:</strong> {{monster.hit_points_roll}}</p>
    <p><strong>Speed:</strong> {{monster.speed}}</p>
    <p><strong>Strength:</strong> {{monster.strength}}</p>
    <p><strong>Dexterity:</strong> {{monster.dexterity}}</p>
    <p><strong>Constitution:</strong> {{monster.constitution}}</p>
    <p><strong>Intelligence:</strong> {{monster.intelligence}}</p>
    <p><strong>Wisdom:</strong> {{monster.wisdom}}</p>
    <p><strong>Charisma:</strong> {{monster.charisma}}</p>
    <p><strong>Proficiencies:</strong> {{monster.proficiencies}}</p>
    <p><strong>Damage Vulnerabilities:</strong> {{monster.damage_vulnerabilities}}</p>
    <p><strong>Damage Resistances:</strong> {{monster.damage_resistances}}</p>
    <p><strong>Damage Immunities:</strong> {{monster.damage_immunities}}</p>
    <p><strong>Condition Immunities:</strong> {{monster.condition_immunities}}</p>
    <p><strong>Senses:</strong> {{monster.senses}}</p>
    <p><strong>Languages:</strong> {{monster.languages}}</p>
    <p><strong>Challenge Rating:</strong> {{monster.challenge_rating}}</p>
    <p><strong>Proficiency Bonus:</strong> {{monster.proficiency_bonus}}</p>
    <p><strong>XP:</strong> {{monster.xp}}</p>
    <p><strong>Special Abilities:</strong> {{monster.special_abilities}}</p>
    <p><strong>Actions:</strong> {{monster.actions}}</p>
    <p><strong>Legendary Actions:</strong> {{monster.legendary_actions}}</p>

  </div>


</body>
</html>