<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monster Detail Sheet</title>
</head>
<body>

  <div class="monster-detail-sheet">
    <p>{{monster.image}}</p>

    <h2><strong>{{monster.name}}</strong></h2>
    <p>{{monster.size}} {{monster.type}}</p>
   <hr>
    <p><strong>Armor Class:</strong> {{monster.armor_class.type}} {{monster.armor_class.value}}</p>
    <p><strong>Hit Points:</strong> {{monster.hit_points}}</p>
    <p><strong>Hit Dice:</strong> {{monster.hit_dice.type}} {{monster.hit_dice.value}}</p></p>
    <p><strong>Hit Points Roll:</strong> {{monster.hit_points_roll}}</p>
       <hr>



    <p><strong>Speed:</strong> Walking:{{monster.speed.walking}}, 
    Climbing:{{monster.speed.climbing}}, Swiming: {{monster.speed.climbing}},
     Flying: {{monster.speed.flying}}</p>
   
 {{!-- <p><strong>Speed:</strong> {{#each monster.speed |speed|}}{{this[0]}}: {{this[1]}}, {{/each}}</p> --}}

{{!-- {{#each monster as |monster|}}
{{> monster-thumbnail}}
{{/each}}
</div> --}}


    
    <p><strong>Strength:</strong> {{monster.strength}}</p>
    <p><strong>Dexterity:</strong> {{monster.dexterity}}</p>
    <p><strong>Constitution:</strong> {{monster.constitution}}</p>
    <p><strong>Intelligence:</strong> {{monster.intelligence}}</p>
    <p><strong>Wisdom:</strong> {{monster.wisdom}}</p>
    <p><strong>Charisma:</strong> {{monster.charisma}}</p>
    <p><strong>Proficiencies:</strong></p>
        Str Save: {{monster.proficiencies.str_save}} ||
        Dex Save: {{monster.proficiencies.dex_save}} ||
        Con Save: {{monster.proficiencies.con_save}} ||
        Int Save: {{monster.proficiencies.int_save}} ||
        Wis Save: {{monster.proficiencies.wis_save}} ||
        Chr Save: {{monster.proficiencies.chr_save}} ||
        etc...
<hr>
  <p><strong>Damage Vulnerabilities:</strong> {{monster.damage_vulnerabilities}}</p>
  {{#each monster.damage_resistances.types}}
  <p>{{this}}</p>
      {{/each}}

    <p><strong>Damage Immunities:</strong></p>
      {{#each monster.damage_immunities.types}}
    <p>{{this}}</p>
        {{/each}}


    <p><strong>Condition Immunities:</strong> {{monster.condition_immunities.types}}</p>

    <p><strong>Senses:</strong> {{monster.senses.types}}</p>
    <p><strong>Languages:</strong> {{monster.languages.types}}</p>
    <hr>

    <p><strong>Challenge Rating:</strong> {{monster.challenge_rating}}</p>
    <p><strong>Proficiency Bonus:</strong> {{monster.proficiency_bonus}}</p>
    <p><strong>XP:</strong> {{monster.xp}}</p>
    <p><strong>Special Abilities:</strong> {{monster.special_abilities}}</p>
    <p><strong>Actions:</strong> {{monster.actions}}</p>
    <p><strong>Legendary Actions:</strong> {{monster.legendary_actions}}</p>
    <br>
    <br>
    <br>

  </div>
</body>
</html>